@model Pokrocily_zaverecny_projekt.Models.Insurance

@{
    ViewData["Title"] = "Upravit pojištění";
}


<section>
<h4>Úprava pojištění</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="form-inline">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row my-3">
                <div class="form-group col">
                    <label asp-for="InsuranceName" class="control-label">Pojistka</label>
                    <input asp-for="InsuranceName" class="form-control" />
                    <span asp-validation-for="InsuranceName" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    @Html.DisplayFor(model => model.InsuredId)
                </div>
            </div>
            <div class="row my-3">
                <div class="form-group col">
                    <label asp-for="InsuranceValue" class="control-label">Částka</label>
                    <input asp-for="InsuranceValue" class="form-control" />
                    <span asp-validation-for="InsuranceValue" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="InsurenceObject" class="control-label">Předmět pojistky</label>
                    <input asp-for="InsurenceObject" class="form-control" />
                    <span asp-validation-for="InsurenceObject" class="text-danger"></span>
                </div>
            </div>
            <div class="row my-3">
                <div class="form-group col">
                    <label asp-for="DateFrom" class="control-label">Datum vzniku</label>
                    <input asp-for="DateFrom" class="form-control" />
                    <span asp-validation-for="DateFrom" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="DateTo" class="control-label">Datum zániku</label>
                    <input asp-for="DateTo" class="form-control" />
                    <span asp-validation-for="DateTo" class="text-danger"></span>
                </div>
            </div>
                <div class="form-group">
                    <input type="submit" value="Uložit" class="btn btn-success" />
                </div>
        </form>
    </div>
</div>

<div class="btn btn-primary">
    <input type="button" onclick="history.go(-1)" value="Zpět" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</section>