@model Pokrocily_zaverecny_projekt.Models.Insured

@{
    ViewData["Title"] = "Nový pojištěnec";
}
<section style="min-height: 500px">
<h4>Nový pojištěnec</h4>


<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" class="form-inline">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row my-3">
                <div class="form-group col">
                    <label asp-for="Jmeno" class="control-label">Jméno</label>
                        <input asp-for="Jmeno" class="form-control" placeholder="Jan" />
                    <span asp-validation-for="Jmeno" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Prijmeni" class="control-label">Příjmení</label>
                        <input asp-for="Prijmeni" class="form-control" placeholder="Novák" />
                    <span asp-validation-for="Prijmeni" class="text-danger"></span>
                </div>
            </div>
            <div class="row my-3">
                <div class="form-group col">
                    <label asp-for="EmailInsured" class="control-label">Email</label>
                        <input asp-for="EmailInsured" class="form-control" placeholder="jan.novak91@seznam.cz" />
                    <span asp-validation-for="EmailInsured" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Telefon" class="control-label">Telefon</label>
                        <input asp-for="Telefon" class="form-control" placeholder="723 777 888" />
                    <span asp-validation-for="Telefon" class="text-danger"></span>
                </div>
            </div>
            <div class="row my-3">
                <div class="form-group col">
                    <label asp-for="Adresa" class="control-label">Ulice</label>
                    <input asp-for="Adresa" class="form-control" placeholder="Družstevní" />
                    <span asp-validation-for="Adresa" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="CisloDomu" class="control-label">Číslo popisné</label>
                        <input asp-for="CisloDomu" class="form-control" placeholder="25" />
                    <span asp-validation-for="CisloDomu" class="text-danger"></span>
                </div>
            </div>
            <div class="row my-3">
                <div class="form-group col">
                    <label asp-for="Mesto" class="control-label">Město</label>
                        <input asp-for="Mesto" class="form-control" placeholder="Praha 1" />
                    <span asp-validation-for="Mesto" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="SmerovaciCislo" class="control-label">PSČ</label>
                        <input asp-for="SmerovaciCislo" class="form-control" placeholder="598 45" />
                    <span asp-validation-for="SmerovaciCislo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-2 mb-1">
                <input type="submit" value="Potvrdit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Zpět</a>
</div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
