@model Pokrocily_zaverecny_projekt.Models.Insured

@{
    ViewData["Title"] = "Smazat";
}
<section class="m-5" style="min-height: 500px;">
<h4>Smazání pojištěného</h4>

<h5>Jste si jist že chcete smazat pojištěného?</h5>
<div>
   
    
    <dl class="row">
        <dt class = "col-sm-2">
           Jméno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Bydliště
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-primary" asp-action="Index">Zpět</a>
    </form>
</div>
</section>