@model Pokrocily_zaverecny_projekt.Models.Insured

@{
    ViewData["Title"] = "Detail";
}
<section class="m-5" style="min-height: 500px;">
    <h1>Podrobnosti</h1>

    <div class="my-3">
        <div class="d-flex">
            <div class="d-flex align-self-start">
                <img src="~/images/pojistenec.png" width="120">
            </div>
            <div class="flex-grow-1 ms-3">
                <h5 class="mt-0">@Html.DisplayFor(model => model.Name)</h5>
                <p>@Html.DisplayFor(model => model.Adress)</p>
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editovat</a> |
        <a class="btn btn-primary" asp-action="Index">Zpět</a>
    </div>
</section>