
@{
	ViewData["Title"] = "O aplikaci";
}
<article style="min-height: 500px">
    <h2>Info</h2>
    <p>
        Tohle je ukázka evidence pojištěných a ukázka mých dovedností v programování.
    </p>
    <div class="d-flex align-items-center" style="height: 300px;">
        <div class="d-flex">
            <div class="d-flex align-self-start">
                <img src="~/images/avatar.jpg" alt="Jan Polaštík" width="80">
            </div>
            <div class="flex-grow-1 ms-3">
                <h5 class="mt-0">Jan Polaštík, 29 let</h5>
                <p>Začínající junior programátor.</br>Velmi učenlivý a připravený na každou výzvu.</p>
            </div>
        </div>
    </div>


</article>
