
@{
	ViewData["Title"] = "Události";
}
<article  >
    <img class="mb-2 rounded w-100" src="~/images/nehoda.png" style="max-width: 600px;">
    <h2>Pojistné události</h2>
    <p>
        Pojistná událost je nahodilá a nepředvídatelná událost, při které vzniká nárok na pojistné plnění.
        Slovíčka ,,nahodilá a nepředvídatelná" událost jsou v této definici opravdu důležitá,
        protože povinností pojistníka a pojištěného je primárně právě snaha vzniku pojistné události předcházet.
        V případě, že se nebude jednat o nahodilou skutečnost, ale o záměrné jednání účastníků pojištění,
        může se jednat o pokus o pojistný podvod, který je dle zákoníku České republiky definován jako trestný čin.
    </p>
    <p>
        Co všechno je v rámci daného pojištění považováno za pojistnou událost, je vždy uvedeno v pojistné smlouvě
        nebo pojistných podmínkách,
        které jsou nedílnou součástí smlouvy.Veškeré případy jsou v rámci podmínek pojištění definovány přesně
        a tak by při řešení případné události nemělo dojít k rozporům ze strany pojistníka nebo pojistitele
    </p>
    <p>
        V pojistných podmínkách jsou samozřejmě definovány i výluky z pojištění, které popisují situace,
        na základě kterých se pak nejedná o vznik pojistné události. Nejčastěji se jedná o výluky například v
        případě,
        že pojistná událost byla způsobena pod vlivem alkoholu, drog či jiných omamných látek, při jednání,
        které je v rozporu se zákony České republiky, anebo když se jednalo o teroristický útok, válečné či
        vnitrostátní nepokoje.
        Také se může jednat o případ, kdy je prokázáno, že zdravotní stav pojištěného nebo technický stav pojištěné
        věci neodpovídal podmínkám pojištění již před sjednáním pojistné smlouvy.
    </p>

    <h2>Nahlášení pojistné události</h2>
    <p>
        Při vzniku pojistné události je pojistník tuto skutečnost neprodleně a
        bez zbytečného odkladu nahlásit pojistiteli. Pojistník,
        případně pojištěný je také povinen vznik pojistné události doložit a
        prokázat tak, že k pojistné události skutečně došlo.
        Po nahlášení pojistné události zahajuje pojistitel,
        tzv. likvidaci pojistné události. V rámci tohoto procesu je pro daný případ jmenován likvidátor pojistné
        události,
        který provádí veškerá šetření, posuzuje doložené materiály a nárok na pojistné plnění.
    </p>
    <p>
        Po posouzení všech skutečností a řádném prošetření pak v případě kladného vyřízení vyčíslí výši pojistného
        plnění a
        informuje o této skutečnosti pojistníka či pojištěného. Pokud není určeno jinak,
        šetření pojistné události by nemělo trvat déle než 3 měsíce.
        Pokud není pojistitel schopen šetření provést v rámci této lhůty, je povinen o tom informovat pojistníka a
        uvést pádné důvody, které uzavření pojistné události brání.
    </p>
    <p>
        Po vzniku pojistné události doporučujeme vaši pojišťovnu kontaktovat co možná nejdříve.
        Právě u vaší pojišťovny vám nejlépe poradí, jak dále postupovat,
        co vše budou chtít doložit pro likvidaci pojistné události a co bude následovat.
    </p>

    <h2>Výpověď smlouvy z důvodu pojistné události</h2>
    <p>
        Možná také nevíte, že v případě, kdy dojde k pojistné události a
        vy například nebudete spokojeni s plněním či průběhem řešení,
        můžete smlouvu vypovědět do 3 měsíců od oznámení vzniku této události.
    </p>
    <p>
        Výpověď vždy zasílejte písemně s podpisem pojistníka,
        doporučenou poštou nebo prostřednictvím naskenovaného dokumentu e-mailem,
        záleží na podmínkách dané pojišťovny. Smlouva je pak ukončena za 1 měsíc od doručení výpovědi.
        Stejně tak jak může práva výpovědi smlouvy využít pojistník, může jej využít i pojistitel.
        Pojišťovny tuto možnost využívají poměrně často u klientů, kteří jsou pro ně příliš rizikoví a
        uplatňují již několikátou pojistnou událost.
    </p>

    <h2>Pojistné plnění</h2>
    <p>
        Pojistné plnění je částka, kterou vám pojistitel vyplatí v případě,
        že pojistná událost bude posouzena jako likvidní. Pojistné plnění je vyplaceno oprávněné osobě,
        kterou je obvykle pojištěný, který ale nemusí být totožný s plátcem pojistného,
        tj. pojistníkem, případně pak u některých druhů pojištění je to obmyšlená osoba.
    </p>
    <p>
        Výše pojistného plnění záleží na podmínkách nastavených ve smlouvě a také na druhu pojištění,
        tedy zda se jedná o pojištění škodové či obnosové. U škodového pojištění,
        je pojistné plnění poskytnuto maximálně do výše škody, která byla při pojistné události způsobena.
        U obnosového pojištění je účelem pojištění získání finanční částky,
        která je dohodnuta jako pojistné plnění pro případ pojistné události a
        to ve výši nezávislé na vzniku nebo rozsahu škody. Podmínkou je pouze to,
        že pojistná událost nastala.
    </p>

    <h2>Věnujte pozornost podmínkám pojištění!</h2>
    <p>
        Pojišťovny jsou obecně u velké spousty lidí považovány za podvodníky,
        kteří inkasují pojistné, ale při pojistné události vám neproplatí téměř nic.
        I když to tak občas může působit, pojistitelé pouze využívají neznalosti pojištěných.
    </p>
    <p>
        Lidé velmi často podepíší smlouvu, aniž by si ji pořádně prostudovali,
        anebo dokonce nahlédli do pojistných podmínek. Často pak narazí právě na to,
        že hlášená pojistná událost je ve výlukách z pojištění nebo nebyly splněny všechny podmínky pro řádný vznik
        smlouvy a
        na základě toho je pojistné plnění kráceno.
    </p>
    <p>
        Věnujte tedy pozornost pojistné smlouvě a podmínkám, k jejichž akceptaci se svým podpisem zavazujete.
    </p>
    <p>

    </p>
</article>
