@{
    ViewData["Title"] = "Pojištění";
}

<article class="m-5" style="min-height: 500px;">
    <div class="d-flex justify-content-center">
        <div class="card-group fixed-center">
            <div class="card" style="max-width: 18rem;">
                <img class="card-img-top" src="~/images/zivot.png" />
                <div class="card-body">
                    <h4>Životní pojištění</h4>
                    <p>Pro vaši klidnější mysl a jistotu vaší rodiny</p>
                </div>
                <div class="card-footer">
                    <small></small>
                </div>
            </div>
            <div class="card" style="max-width: 18rem;">
                <img class="card-img-top" src="~/images/vozidlo.png" />
                <div class="card-body">
                    <h4>Pojištění vozidel</h4>
                    <p>Ochrana vašeho auta</p>
                </div>
                <div class="card-footer">
                    <small></small>
                </div>
            </div>

            <div class="card" style="max-width: 18rem;">
                <img class="card-img-top" src="~/images/majetek.png" />
                <div class="card-body">
                    <h4>Pojištění majetku</h4>
                    <p>Ochrání vás i proti přírodním živlům</p>
                </div>
                <div class="card-footer">
                    <small></small>
                </div>
            </div>

        </div>

    </div>

</article>
