@{
    ViewData["Title"] = "Úvod";
}

<article>
   <h1>Vítejte v evidenci pojištěných</h1>
    <p>Tahle webová aplikace je ukázka evidence pojištěných</p>
    
    <p>Snad se vám bude líbit a jsem připraven se naučit i mnohem více :)</p>
</article>
