@using System.Security.Claims;

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="JaPo" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~images/ikona.ico"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
</head>
<body>
    <header class="mb-5 sticky-md-top">
		<nav id="navigacni" class="navbar  navbar-expand-lg navbar-light">
			<img src="~/images/logo.png" width="60" height="50" class="d-inline-block " />
            <div class="container-fluid">
                
                <ul id="navigacni-tlacitka" class="nav nav-pills">
                    @if (Context.Request.RouteValues.Values.Any(p => p is "Home") && Context.Request.RouteValues.Values.Any(p => p is "Index"))
                    {
                        <li class="nav-item ">
                            <a class="btn btn-warning active" asp-controller="Home" asp-action="Index">Úvod</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-dark " asp-controller="Home" asp-action="Index">Úvod</a>
                        </li>
                    }
                    @if (User.IsInRole("admin")){
                        @if (Context.Request.RouteValues.Values.Any(p => p is "Insureds") && Context.Request.RouteValues.Values.Any(p => p is "Index"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-warning ms-1" asp-controller="Insureds" asp-action="Index">Pojištěnci</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-dark ms-1" asp-controller="Insureds" asp-action="Index">Pojištěnci</a>
                            </li>
                        }
                    }
                    @if (Context.Request.RouteValues.Values.Any(p => p is "Insurances") && Context.Request.RouteValues.Values.Any(p => p is "Index"))
                    {
                        <li class="nav-item">
                            <a class="btn btn-warning ms-1" asp-controller="Insurances" asp-action="Index">Pojištění</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-dark ms-1" asp-controller="Insurances" asp-action="Index">Pojištění</a>
                        </li>
                    }
                    @if (Context.Request.RouteValues.Values.Any(p => p is "Home") && Context.Request.RouteValues.Values.Any(p => p is "Events"))
                    {
                        <li class="nav-item">
                            <a class="btn btn-warning mx-1" asp-controller="Home" asp-action="Events">Události</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-dark mx-1" asp-controller="Home" asp-action="Events">Události</a>
                        </li>
                    }
                    @if (Context.Request.RouteValues.Values.Any(p => p is "Home") && Context.Request.RouteValues.Values.Any(p => p is "About"))
                    {
                        <li class="nav-item">
                            <a class="btn btn-warning " asp-controller="Home" asp-action="About">O aplikaci</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-dark " asp-controller="Home" asp-action="About">O aplikaci</a>
                        </li>
                    }
                </ul>
                    <partial name="_LoginPartial"/>
                
                
            </div>
        </nav>
        
    </header>
    <div class="m-5" >
                
    
                @RenderBody()
   
    </div>
    <footer>
        <div class="d-flex justify-content-center">
            <p>Vytvořil &copyJaPo 2023 </p>
		</div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
