@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div>
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="~/images/pojistenecIkona.png" class="rounded-circle"/> Profil
        </button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
            <li class="dropdown-item">
                <a title="Manage">Ahoj uživateli @User.Identity?.Name!</a>
            </li>
            <li class="dropdown-item">
                <form  class="form" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button  type="submit" class="btn btn-primary">Odhlásit</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="~/images/dropdown.png" />
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                <li class="">
                    <a class="dropdown-item " asp-controller="Account" asp-action="Login">Přihlásit</a>
			    </li>
                <li class="">
                    <a class="dropdown-item" asp-controller="Account" asp-action="Register">Registrace</a>
			    </li>
		    </ul>
    </div>
    
}




